.home{
    max-width: 900px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.home h1{
    font-size: 50px;
    color: #0f766e;
    margin-bottom: 20px;
}
.home p{
    font-size: 20px;
    color: #6b7280;
    line-height: 1.7;
}
.predict-btn{

    margin-top:30px;

    background:#0f766e;

    color:white;

    padding:16px 40px;

    font-size:18px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.predict-btn:hover{

    background:#115e59;

}

